{% load i18n bread_tags %}
{% if is_paginated %}
   {% if first_url %}<a href="{{ first_url }}">[{% trans "First" %}]</a>{% endif %}
   {% if previous_url %}<a href="{{ previous_url }}">[{% trans "Previous" %}]</a>{% endif %}
   {% blocktrans trimmed with number=page_obj.number num_pages=paginator.num_pages %}
      Showing page {{ number }} of {{ num_pages }}
   {% endblocktrans %}
   {% if next_url %}<a href="{{ next_url }}">[{% trans "Next" %}]</a>{% endif %}
   {% if last_url %}<a href="{{ last_url }}">[{% trans "Last" %}]</a>{% endif %}
{% endif %}

 {% if has_filter or has_search %}
   <form method="GET">
     {% if has_search %}
       <div class="control-group">
         <p>{% blocktrans with names=verbose_name_plural %}Search {{ names }}{% endblocktrans %}</p>
         <p>
         <input name="q" type="search" value="{{ q }}">
         {% blocktrans %}Searches in these fields: {{ search_terms }} {% endblocktrans %}
         </p>
       </div>
     {% endif %}


       {% if has_filter %}
         {% if filter.form.non_field_errors %}
           <div class="control-group">
             {% for err in filter.form.non_field_errors %}
               <div class="alert alert-error help-block">
                 {{ err }}
               </div>
             {% endfor %}
           </div>
         {% endif %}

         {% for field in filter.form %}
           <br/>
           {{ field.label_tag }}
           {{ field }}
           {% if field.errors %}
             <div class="alert alert-error help-block">
               {{ field.errors }}
             </div>
           {% endif %}
         {% endfor %}
      {% endif %}

     {% if o != "" %}<input type="hidden" name="o" value="{{ o }}">{% endif %}

     <input type="submit" value="{% trans 'Search' %}">
   </form>
 {% endif %}

<table border="1">
  {% if columns %}
    <script>
      var o_field = "{{o}}",
          valid_sorting_columns = JSON.parse("{{ valid_sorting_columns_json }}");
    </script>
    <tr>
      {% for col in columns %}
        <th class="col_header">{{ col.0 }}</th>  {# label #}
      {% endfor %}
    </tr>
  {% endif %}
  {% for object in view.object_list %}
    <tr>
      {% if columns %}
        {% for col in columns %}
          <td>
            {% if may_read %}
              <a href="{% url bread.read_url_name object.pk %}">{{ object|getter:col.1 }}</a>
            {% else %}
              {{ object|getter:col.1 }}
            {% endif %}
          </td>
        {% endfor %}
      {% else %}
        <td>
          {% if may_read %}
            <a href="{% url bread.read_url_name object.pk %}">{{ object }}</a>
          {% else %}
            {{ object }}
          {% endif %}
        </td>
      {% endif %}
      {% if may_edit %}
        <td>
          <a href="{% url bread.edit_url_name object.pk %}">{% trans "Edit" %}</a>
        </td>
      {% elif debug %}
       <td>You do not have edit permission.</td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
<br/>

{% if not exclude_actions %}
  {% if may_add %}
    <a href="{% url bread.add_url_name %}">{% trans "Add" %}</a>
  {% elif debug %}
    You do not have add permission.
  {% endif %}
{% endif %}
